<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fermaivanovo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MyFarm.Goods.AddCategoriesGoods"></activity>
        <activity android:name=".MyFarm.StartActivity.AddEditNews" />
        <activity android:name=".MyFarm.UserProfile.SignInUp" />
        <activity android:name=".MyFarm.UserProfile.UserProfile" />
        <activity android:name=".MyFarm.Goods.CategoriesGoods" />
        <activity android:name=".MyFarm.Goods.AddEditGoods" />
        <activity android:name=".MyFarm.MyOrder.Order" />
        <activity android:name=".MyFarm.Goods.Goods" />
        <activity android:name=".MyFarm.EcoFood.PersonalProfile" />
        <activity
            android:name=".MyFarm.Water.Water"
            android:theme="@style/WaterTheme" />
        <activity android:name=".MyFarm.Settings.Settings" />
        <activity android:name=".MyFarm.StartActivity.StartActivity" />
        <activity
            android:name=".MyFarm.StartActivity.WelcomeActivity"
            android:theme="@style/NoActionBarStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>